
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   
.formulario{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 600px;
    height: 645px;
    margin-top: -830px;

}


.input-label-form > label, input{
    width: 500px;
    font-family: "Fira Sans", sans-serif;
    margin-left: 50px;
    margin-bottom: 20px;
 
}

#placa{
    height: 45px;
}


.input-label-form{
    margin-top: 20px;
}


.tituloform {    
    font-family: "Fira Sans", sans-serif ;
    font-size: 50px;    
    color: #23232e;
    display: flex;
    align-items: flex-start;
    width: 540px;
    margin-left: 50px;
    margin-top: -105px;

}

.botaoform{
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin: auto;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: #23232e;
    color: white;
    font-family: "Poppins", serif;
    cursor: pointer;
    margin-left: 220px;
    margin-top: 100px;
}

img{
    background-image: url(../img/carros.png);
    background-repeat: no-repeat;
    opacity: 0.6    ;
    background-size: cover;
    background-position: right center;
    height: 100vh;
    width: 99vw;
    margin-bottom: -10px;

}

select{
    height: 45px;
    width: 500px;
    margin-left: 50px;
}

.inputsradio > label, input{
   margin-bottom: 30px;

}

.inputsradio >  input{
    margin-bottom: 30px;
    margin-right: 20px;
 }

label{
    font-family: "Fira Sans", sans-serif;
    margin-left: 50px;
}

.inputsradio{
    display: flex;
    justify-content: space-evenly   ;
    width: 500px;
    position: absolute;
    
}

.inputsradio > input{
    width: 25px;
 
 }

